/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    behaviors {
        rst: boot_reset 
        {
            compatible = "zmk,behavior-hold-tap";
            label = "Bootloader Tap - Reset Hold";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "balanced";
            bindings = <&reset>, <&bootloader>;
        };
        gresc: grave_escape 
        {
            compatible = "zmk,behavior-mod-morph";
            label = "GRAVE_ESCAPE";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp GRAVE>;
            mods = <(MOD_RCTL)>;
        };


        bh: layer_taps 
		{
			compatible = "zmk,behavior-hold-tap";
			label = "Layer-Tap";
			#binding-cells = <2>;
			tapping_term_ms = <215>;
            flavor = "tap-preferred";
			bindings = <&mo>, <&kp>;
        };

        hm: homerow_mods0 
		{
			compatible = "zmk,behavior-hold-tap";
			label = "homerow mods";
			#binding-cells = <2>;
			tapping_term_ms = <230>;
            flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
        };
        
        hm1: homerow_mods1 
		{
			compatible = "zmk,behavior-hold-tap";
			label = "homerow mods";
			#binding-cells = <2>;
			tapping_term_ms = <205>;
            flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
        };

        hm2: homerow_mods2 
		{
			compatible = "zmk,behavior-hold-tap";
			label = "homerow mods 2";
			#binding-cells = <2>;
			tapping_term_ms = <250>;
            flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
        };

   	 };
};

/ {
	combos {
		compatible = "zmk,combos";
		combo_tab 
		{
			timeout-ms = <25>;
			key-positions = <0 1>;
			bindings = <&kp TAB>;
		};
		combo_del 
		{
			timeout-ms = <25>;
			key-positions = <8 9>;
			bindings = <&kp DEL>;
		};
		combo_ret 
		{
			timeout-ms = <25>;
			key-positions = <18 19>;
			bindings = <&kp RET>;
		};
	};
};

/ {
    keymap 
	{
    compatible = "zmk,keymap";

    default_layer {
            bindings = <
    &gresc Q &kp W &kp F &kp P &kp B &kp J &kp L &kp U &kp Y &kp SQT
    &kp A &hm LALT R &hm LCTRL S &hm LSHFT T &kp G &kp M &hm RSHFT N &hm RCTRL E &hm RALT I &kp O
    &kp Z &kp X &kp C &kp D &kp V &kp K &kp H &kp COMMA &kp DOT &kp FSLH
    &mo LOWER &kp SPACE &kp BSPC &mo RAISE
            >;
        };

    lower {
            bindings = <
    &kp EXCL &kp AT &kp POUND &kp DLLR &kp PRCNT &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR
    &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
    &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &mo ADJUST
            >;
        };

    raise {
            bindings = <
    &kp PG_UP &kp HOME &kp UP &kp END &trans &trans &kp BSLH &kp PIPE &kp LBKT &kp RBKT
    &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &trans &trans &kp MINUS &kp UNDER &kp PLUS &kp EQUAL
    &trans &trans &trans &trans &trans &trans &kp GRAVE &kp TILDE &trans &trans
    &mo ADJUST &trans &trans &trans
            >;
        };
    
    adjust {
            bindings = <
    &bt BT_SEL_CMD 0 &bt BT_SEL_CMD 1 &bt BT_SEL_CMD 2 &bt BT_SEL_CMD 3 &trans &trans &trans &trans &trans &bt BT_CLR
    &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
    &rgb_ug RGB_TOG &rgb_ug RGB_EFF &trans &trans &trans &trans &trans &trans &trans &trans
    &trans &trans &trans &trans
            >;
        };
    
    };
};
